fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.11.5
python-multipart==0.0.20
python-dotenv==1.1.0
PyMuPDF==1.26.0
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.61
langchain-google-genai==2.1.4
langchain-text-splitters==0.3.8
faiss-cpu==1.11.0
sqlalchemy==2.0.36

